.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #101520;
    color: white;
    text-align: center;
  }
  
  .hero-container h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .hero-container p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  
  .hero-container button {
    box-shadow: 0 0 5px yellow, 0 0 25px yellow, 0 0 50px yellow, 0 0 100px yellow, 0 0 200px yellow;
    background-color: yellow;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .hero-container button:hover {
    box-shadow: 0 0 5px yellow, 0 0 25px yellow, 0 0 50px yellow, 0 0 100px yellow, 0 0 200px yellow;
  }
  